@model OdeToFood.ViewModels.HomePageViewModel
@{ 
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Welcome!</h1>
<table>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>
                @Html.ActionLink("View", "Details", new { id = restaurant.Id })
            </td>
            <td>@restaurant.Name</td>
        </tr>
    }
</table>

@section footer {
    <h3>@Model.CurrentMessage</h3>
}