<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        @await Component.InvokeAsync("LoginLogout")
    </div>
    <div>
        @RenderBody()
    </div>
    <div>
        @RenderSection("footer", required: false)
        @await Component.InvokeAsync("Greeting")
    </div>
</body>
</html>
